*.log
cmd/simple_chain/mem_dump.txt
cmd/client/call_tool_test/output.json
cmd/simple_chain/sample/simple/*
cmd/test/*
cmd/client/call_tool_test_parallel/transaction_results.json
cmd/testdb/*
pkg/mvm/3rdparty/*
pkg/mvm/linker/include/config.h
cmd/simple_chain/cmd/migrate_data/BatchPut_0
cmd/simple_chain/sample/
cmd/simple_chain/xapian/
cmd/simple_chain/xapian_database/
pkg/mvm/linker/src/xapian/schema_leveldb/
pkg/mvm/linker/include/xapian/schema_leveldb/
pkg/mvm/c_mvm/3rdparty/leveldb
pkg/mvm/c_mvm/3rdparty/leveldb
cmd/simple_chain/leveldb/
cmd/simple_chain/xapian_node1
cmd/simple_chain/xapian_node2
cmd/client/call_tool_test/call_tool_test
build_app
cmd/simple_chain/simple_chain
cmd/client/add_account_tx_0/add_account_tx_0
cmd/client/add_account/add_account
build
cmd/client/call_tool_test/call_tool_test
cmd/client/call_tool_test/call_tool_test
cmd/rpc-client/privatekey_db_encrypted
cmd/storage/db_data
cmd/storage/running_instances
cmd/storage/storage_server
cmd/rpc-client/db

demo/receiver/incoming_chunks
demo/receiver/restored_data
demo/sender/db_data
demo/sender/db_data_to_send
!pkg/bls/blst/build
cmd/exec_node/other
cmd/benchmark_storage_client/benchmark_client
cmd/demo/
pkg/rust_adder
pkg/proto/qmdb.proto
pkg/proto/qmdb.pb.go
**/node_modules/
cmd/test
cmd/demoSocket
hybrid-storage-demo/storage-rust/storage_server1
hybrid-storage-demo/storage-rust/storage_server2