/* src/App.css */

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #4f46e5;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

